### import libraries

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer,LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit
import torchvision

ModuleNotFoundError: No module named 'torch'

### import dataset

In [2]:
trainset = pd.read_csv('training.csv')
valset   = pd.read_csv('validation.csv')
trainset1 = trainset.reset_index()
valset1   = valset.reset_index()

In [3]:
valset.shape

(200, 1)

### first function to process data

In [4]:
def first_split(trainset=None):
    nwtrain1 = list()
    for i in range(0,len(trainset)):
        try:
            nwtrain1.append(';'.join(trainset.values[i]))
        except:
            try:
                nwtrain1.append(';'.join(trainset.values[i][:4]))
            except:
                try:
                    nwtrain1.append(';'.join(trainset.values[i][:3]))
                except:
                    try:
                        nwtrain1.append(';'.join(trainset.values[i][:2]))
                    except:
                        nwtrain1.append(';'.join(trainset.values[i][:1]))
                        

    return nwtrain1

### second function to process data

In [5]:
def sec_split(dat=None):
    dat_nw = []
    for i in range(0,len(dat)):
        chk = []
        for j in dat[i]:
            try:
                chk.append(int(j))
            except:
                try:
                    chk.append(float(j))
                except:
                    try:
                        chk.append(j.split('\"')[1])
                    except:
                        try:
                            chk.append(int(j))
                        except:
                            chk.append(j)

        dat_nw.append(chk)
    return dat_nw

### third function to process data

In [6]:
def third_split(data=None):
    for i in data:
        try:
            if len(i) == 22: pass
            elif len(i) == 21:
                if type(i[10]) == str:
                    i.insert(10,np.nan)
                elif i[3] > 8:
                    i.insert(3,np.nan)
                else:
                    i.insert(1,np.nan)
            
            elif len(i) == 20:
                if i[3] > 8:
                
                    if type(i[3]) == str:
                        i.insert(3,np.nan)
                        i.insert(10,np.nan)
                    else:
                        i.insert(1,np.nan)
                        i.insert(3,np.nan)
                elif i[3]<8:
                    i.insert(1,np.nan)
                    i.insert(10,np.nan)
            else:
                i.insert(1,np.nan)
                i.insert(3,np.nan)
                i.insert(10,np.nan)
        except:
            i.insert(1,np.nan)
            i.insert(3,np.nan)
        np.array(i)
    return data

### fourth function to process data

In [7]:
def col_swap(trainset=None):
    for i in range(0,len(trainset)):
        if type(trainset[9][i]) != int:
            try:
                trainset[9][i] = int(trainset[9][i])
            except:
                trainset[9][i] = trainset[9][i]
        if type(trainset[4][i]) != int:
            try:
                trainset[4][i] = int(trainset[4][i])
            except:
                try:
                    trainset[4][i] = float(trainset[4][i])
                except:
                    trainset[4][i] = trainset[4][i]
                             
        if type(trainset[4][i]) != int and type(trainset[4][i]) != float:
            hh = trainset[8][i]
            trainset[8][i] = trainset[4][i]
            trainset[4][i] = hh
        
        if type(trainset[9][i]) != int:
            hh = trainset[5][i]
            trainset[5][i] = trainset[9][i]
            trainset[9][i] = hh
    return trainset

In [8]:
nwtrain1 = first_split(trainset1)
nwval1   = first_split(valset1)

In [9]:
nwtrain2 = [nwtrain1[i].split(';') for i in range(0,len(nwtrain1))]
nwval2 = [nwval1[i].split(';') for i in range(0,len(nwval1))]

In [10]:
nwtrain4 = sec_split(nwtrain2)
nwval3   = sec_split(nwval2)

In [11]:
nwtrain4 = third_split(nwtrain4)
nwval3   = third_split(nwval3)

In [12]:
#for i in nwtrain3:
#   print(len(i)

In [13]:
trainset = pd.DataFrame(np.array(nwtrain4))
valset   = pd.DataFrame(np.array(nwval3))

In [14]:
trainset = trainset.replace(['NA','nan'],np.nan)
valset = valset.replace(['NA','nan'],np.nan)


#trainset[4] = trainset[4].replace(['u','y','g'],np.nan)
#valset[5]   = valset[5].replace([np.int],np.nan)

In [15]:
trainset = col_swap(trainset)
valset   = col_swap(valset)

In [16]:
X_train = trainset.drop([20,21],axis=1).copy()
X_val   = valset.drop([20,21],axis=1).copy()

Y_train_1 = trainset[[20]].copy()
Y_val   = valset[[20]].copy()

### fill missing continous values with the mean of the column

In [17]:
cat_cols = [0,5,6,7,8,11,12,14,15,19]
X_cat_t = X_train[cat_cols].replace(np.nan,'nan')
X_cat_v = X_val[cat_cols].replace(np.nan,'nan')

In [18]:
cont_col = [1,2,3,4,9,10,13,16,17,18]
imput1 = Imputer(missing_values=np.nan,strategy='mean',axis=0)
imput1 = imput1.fit(X_train[cont_col])
X_cont_train = pd.DataFrame(imput1.transform(X_train[cont_col]),columns=cont_col)
X_cont_val = pd.DataFrame(imput1.transform(X_val[cont_col]),columns=cont_col)

/data/user/0/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

### convert discrete features to labels

In [19]:
cat_cols = [0,11,12,14,15,19]
cat_col_val1 = {}
cat_col_val2 = {}
le1 = LabelEncoder()
le2 = LabelEncoder()
for col in cat_cols:
    le1.fit(X_cat_t[col])
    X_cat_t[col] = le1.transform(X_cat_t[col])
    X_cat_v[col] = le1.transform(X_cat_v[col])
    cat_col_val1[col] = le1.classes_
    #cat_col_val2[col] = le2.classes_

In [20]:
for col in cat_col_val1:
    if 'nan' in cat_col_val1[col]:
        loc = list(cat_col_val1[col]).index('nan')
        X_cat_t[col] = X_cat_t[col].replace(loc,np.nan)
        X_cat_v[col] = X_cat_v[col].replace(loc,np.nan)
        
        
'''for col in cat_col_val2:
    if 'nan' in cat_col_val2[col]:
        loc = list(cat_col_val2[col]).index('nan')
        #X_cat_t[col] = X_cat_t[col].replace(loc,np.nan)
        X_cat_v[col] = X_cat_v[col].replace(loc,np.nan)'''

"for col in cat_col_val2:\n    if 'nan' in cat_col_val2[col]:\n        loc = list(cat_col_val2[col]).index('nan')\n        #X_cat_t[col] = X_cat_t[col].replace(loc,np.nan)\n        X_cat_v[col] = X_cat_v[col].replace(loc,np.nan)"

### fill missing discrete value  with most frequent value in the column

In [21]:
imput2 = Imputer(missing_values=np.nan,strategy='most_frequent',axis=0)
imput2= imput2.fit(X_cat_t[cat_cols])
X_disc_t= pd.DataFrame(imput2.transform(X_cat_t[cat_cols]),columns=cat_cols).astype(int)
X_disc_v= pd.DataFrame(imput2.transform(X_cat_v[cat_cols]),columns=cat_cols).astype(int)

/data/user/0/ru.iiec.pydroid3/files/arm-linux-androideabi/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [22]:
X_disc_v.head()

   0   11  12  14  15  19
0   1   1   0   1   2   2
1   1   0   0   1   0   2
2   1   0   0   0   0   2
3   1   1   0   0   0   2
4   1   0   0   1   0   0

In [23]:
valset[cat_cols].head()

  0  11 12 14 15   19
0  b  t  f  t  s  NaN
1  b  f  f  t  g  NaN
2  b  f  f  f  g  NaN
3  b  t  f  f  g  NaN
4  b  f  f  t  g    f

In [24]:
X_cont_val.head()

     1     2    3            4    9      10   13     16     17         18
0  32.0  33.0  0.0     75.00000  1.0  585.0  0.0  420.0    0.0  4200000.0
1  23.0  58.0  0.0    179.00000  0.0   54.0  0.0  136.0    1.0  1360000.0
2  36.0  42.0  7.0      0.00005  0.0  585.0  0.0  240.0    3.0  2400000.0
3  18.0  42.0  0.0  10415.00000  0.0  125.0  0.0  120.0  375.0  1200000.0
4  24.0   5.0  0.0  13335.00000  0.0    4.0  0.0  120.0  475.0  1200000.0

In [25]:
cat_col_val1

{0: array(['a', 'b', 'nan'], dtype=object),
 11: array(['f', 't'], dtype=object),
 12: array(['f', 't'], dtype=object),
 14: array(['f', 't'], dtype=object),
 15: array(['g', 'p', 's'], dtype=object),
 19: array(['f', 'nan', 't'], dtype=object)}

In [26]:
cat_col_val2

{}

In [27]:
trainset[cat_cols]

     0  11 12 14 15   19
0     a  f  t  t  g    t
1     b  f  f  f  s  NaN
2     b  f  t  f  g    t
3     a  f  f  f  g  NaN
4     b  f  f  t  g    f
5     a  f  f  t  g    f
6     a  f  f  t  g  NaN
7     b  f  f  f  g  NaN
8     b  f  f  f  g  NaN
9     b  f  f  f  g  NaN
10    a  f  f  f  g    f
11    a  f  f  f  g    f
12    a  f  f  f  g    f
13    a  f  t  f  g  NaN
14    b  f  t  f  g    t
15    b  f  f  f  g  NaN
16    b  f  f  t  g    f
17    b  t  f  f  g    f
18    b  f  t  t  g    t
19    b  f  f  f  g    f
20    b  f  f  t  g    f
21    b  t  f  f  s  NaN
22    a  f  t  f  g  NaN
23    b  t  f  f  g  NaN
24    a  f  f  f  g    f
25    a  f  f  f  g    f
26    a  f  f  t  s  NaN
27    a  f  t  f  g  NaN
28    a  t  f  t  g  NaN
29    b  f  f  t  g  NaN
...  .. .. .. .. ..  ...
3670  a  t  f  f  g  NaN
3671  b  t  f  f  g  NaN
3672  b  t  t  f  g  NaN
3673  b  t  t  f  g    t
3674  b  t  f  t  g  NaN
3675  b  t  f  f  g  NaN
3676  a  t  f  t  g  NaN
3677  b  f  f  f  g  NaN
3678  a  t  f  t  g  NaN
3679  b  t  t  t  g    t
3680  a  t  t  f  g    t
3681  b  t  t  f  g    t
3682  b  t  t  t  g    t
3683  b  t  t  f  g  NaN
3684  b  t  t  f  g  NaN
3685  b  t  t  t  g  NaN
3686  b  t  f  f  g  NaN
3687  a  t  t  t  g    t
3688  b  t  f  t  g  NaN
3689  b  t  t  t  g    t
3690  b  t  t  f  g    t
3691  a  t  t  f  g  NaN
3692  a  t  t  t  g  NaN
3693  a  t  t  f  g    t
3694  b  t  t  f  g    t
3695  a  t  t  f  g    t
3696  a  t  t  t  g    t
3697  b  t  t  t  g  NaN
3698  b  t  t  t  g  NaN
3699  a  t  f  t  g    f

[3700 rows x 6 columns]

### one-hot encode discrete variables

In [28]:
one_hot = OneHotEncoder(categories='auto')
one_hot.fit(X_disc_t)
x_train_onehot = one_hot.transform(X_disc_t).todense()
x_val_onehot   = one_hot.transform(X_disc_v).todense()

### join processed continous and discrete variables together

In [29]:
X_train_1 = pd.DataFrame(np.c_[X_cont_train.values,x_train_onehot])
X_val   = pd.DataFrame(np.c_[X_cont_val.values,x_val_onehot])

In [30]:
X_train_1.shape

(3700, 23)

In [31]:
X_val.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,32.0,33.0,0.0,75.00000,1.0,585.0,0.0,420.0,0.0,4200000.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,23.0,58.0,0.0,179.00000,0.0,54.0,0.0,136.0,1.0,1360000.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
2,36.0,42.0,7.0,0.00005,0.0,585.0,0.0,240.0,3.0,2400000.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,18.0,42.0,0.0,10415.00000,0.0,125.0,0.0,120.0,375.0,1200000.0,...,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,24.0,5.0,0.0,13335.00000,0.0,4.0,0.0,120.0,475.0,1200000.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

### Split dataset into test and train

In [32]:
#Split into train and remaining

split1 = StratifiedShuffleSplit(n_splits=2, test_size = 0.056,random_state=42)

for train_idx, rem_idx in split1.split(X_train_1,Y_train_1):
    X_train, X_test = X_train_1.loc[train_idx], X_train_1.loc[rem_idx]
    y_train, y_test = Y_train_1.loc[train_idx], Y_train_1.loc[rem_idx]

  
  
# Reshuffle Remaining data index
X_train = X_train.reset_index(drop=True).copy()
y_train = y_train.reset_index(drop=True).copy()
X_test = X_test.reset_index(drop=True).copy()
y_test = y_test.reset_index(drop=True).copy()

### standardize dataset

In [33]:
stand_sc = StandardScaler()
stand_sc.fit(X_train)
X_train = stand_sc.transform(X_train)

In [34]:
train_target = tch.tensor(y_train.values)
train =        tch.tensor(X_train.astype(np.float32)) 

test_target =  tch.tensor(y_test.values)
test =         tch.tensor(X_test.astype(np.float32))

val_target =  tch.tensor(y_val.values)
val =         tch.tensor(X_val.astype(np.float32))

NameError: name 'tch' is not defined